# Node.js
node_modules/
npm-debug.log
package-lock.json

# Sistema de arquivos
.DS_Store
Thumbs.db

# Configurações do IDE
.vscode/
.idea/
*.swp

# Arquivos de build
/dist/
/build/

# Arquivos de log
*.log

# Arquivos temporários
*.tmp
*.bak

# Arquivos de ambiente
.env
